@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Inter', sans-serif;
    color: white;
}

body {
    background-color: black !important;
}

nav {
    z-index: 2;
    color: #ffff;
    font-weight: 500;
    height: 60px;
}

nav .container-fluid .btnRight {
    width: 25px;
    height: 25px;
}

.offcanvas-start {
    width: 300px !important;
}


.offcanvas-start .offcanvas-body .navbar-nav li .nav-link {
    margin-bottom: 20px;
    border-radius: 20px;
    padding: 20px;
    background-color: #FF0000;
}

.offcanvas .offcanvas-header,
.offcanvas-body {
    background-color: #333333;
}

.navbarbgActive {
    background: rgba(211, 202, 202, 0.3);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: 0.4s;
}

nav .navbar-collapse .navbar-nav .nav-item a:hover {
    color: #FF0000 !important;
    font-weight: 600;
}

nav .navbar-collapse .navbar-nav .nav-item a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #FF0000;
    transition: width .3s;
}

nav .navbar-collapse .navbar-nav .nav-item a:hover::after {
    width: 100%;
}



.btn-element {
    background-color: #FF0000 !important;
    color: white !important;
    padding: 7px 18px;
    border: none;
    border-radius: 5px;
}